.UiButton {
  padding: 7px 5px;
  background: linear-gradient(#00A8A8 100%, #00D2D2 100%);
  border-radius: 5px;
  font-size: 17px;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  box-sizing: border-box;
  border: 0;
  user-select: none;
  cursor: pointer;

  &--adaptive {
    width: 100%;
  }
}